*.iml
.gradle
/local.properties

# IDEA/Android Studio ignores
*.iml
*.ipr
*.iws
**/.idea/**/*
!.idea/codeStyles/**/*
.idea

.DS_Store
/build
/captures
.externalNativeBuil
app/google-services.json
/playstore

app/src/main/java/de/p72b/mocklation/util/SecuredConstants.kt

